# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#Compiler
out/
bin/
build/
.gradle/
.idea/
.atom-build.yml
dependency-reduced-pom.xml
iZone.iml

target/classes/
target/generated-sources/
target/maven-archiver/
target/surefire/
target/iZone.jar
target/original-iZone.jar

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/workspace.xml
